{{!-- <body class="hold-transition layout-top-nav"></body> --}}
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

<center><h2>¿gestion de salones en la universidad?</h2><center>

La gestion de salones es muy importante en la universidad ya que se han presentados problemas los cuales 
son que hay materias de diferentes carreras que se cruzan a la misma hora y tienen asignado el mismo salon 
y esto hace que la experencia universitaria no sea tan buena, tanto para los profesores como para los alumnos
por eso creamos esta pagina web donde registandote y llenando una encuesta sobre que carrera estudias, el semestre
en el que te encuentras y la materia la cual vas a ver te mostramos tu salon asignado.

<center><img src="https://cdn.pixabay.com/photo/2017/02/24/02/37/classroom-2093743_640.jpg" alt=""><center>

</div>
<!-- ./wrapper -->




