{{!-- <body class="hold-transition layout-top-nav"></body> --}}
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"> Mi proyecto - Gestion de salones <small> </small></h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Gestiona tu salon</h5>

                <p class="card-text">
                  conocenos
                </p>

                <a href="/" class="card-link">Nuestra pagina te dara la posibilidad de que puedas 
                ver tus salones asignados para cada materia para el semestre en el que estes
                y para tu carrera </a>

              </div>
            </div>

            <div class="card card-primary card-outline">
              <div class="card-body">
                <h5 class="card-title">La plataforma permite la creación de usuarios, para que te registres y puedas utilizar nuestro sistema de gestion. </h5>
                <a href="#" class="card-link">Ya estoy registrado</a>
                <a href="#" class="card-link">Registrarme</a>
              </div>
            </div><!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title m-0">¿gestion de salones?</h5>
              </div>
              <div class="card-body">
                <h6 class="card-title">¿te gustaria saber mas?</h6>

                <p class="card-text">Si estas interesado en conocernos mas y explorar nuestra pagina puedes dirigirte a la seccion
                  de Home, ahi encontraras nuestra funcion como pagina.</p>
                <a href="/home" class="btn btn-primary">Home</a>
              </div>
            </div>

            <div class="card card-primary card-outline">
              <div class="card-header">
                <h5 class="card-title m-0">¿como ver tu salon correspondiente para cualquier materia?</h5>
              </div>
              <div class="card-body">
                <h6 class="card-title">Siguenos</h6>

                <p class="card-text">para conocer a que salon corresponde tu clase sin importar que carrera estudias ni el semestre que estas cursando
                 puedes dirigirte a nuestra seccion de encuesta, ahi podra validar tus datos sobre ti y tu carrera .</p>
                <a href="/encuesta" class="btn btn-primary">Encuesta</a>
              </div>
  <!-- /.control-sidebar -->


</div>
<!-- ./wrapper -->

